
<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "d.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Siti Nuradila</h1>
		<p>Welcome to my first ever rails web app blog!</p>
		<p>I am in career foundery remote web developer program. I enjoy every minute of it. I have learn so much about html 5, css3, rails web app, javascript and so much. I want to learn more and indeed I am willing to be positivly productive everyday in making my skills perfect, clean and polished.</p>
		<p>If you want to see my work, go to my gitshub!<a href="https://github.com/dilagalaxy">Siti nuradila's</a> 
		and also follow me on twitter.<a href="https://twitter.com/startbeautiful1">@startbeautiful1</a>
		</p>
	</div>
</div>